/vendor
/node_modules
/.idea
/.vscode
.DS_Store
.env
.phpunit.result.cache
storage/logs/laravel.log
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
coverage/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.nova
/composer.lock
/package-lock.json
yarn.lock
