/vendor
/node_modules
/.idea
/.vscode
.DS_Store
.env
.phpunit.result.cache
storage/logs/*.log
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
coverage/

# File di bawah ini SEBAIKNYA TIDAK di-ignore (hapus tanda /)
# composer.lock
# package-lock.json